*{
    box-sizing: border-box;
    line-height: 20px;
}

body {
    background-image: url('../images/train.jpg');
}

.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 95%;
}

.title, .time, .schedule, .addtrain {
    margin-top: 10px;
    margin-bottom: 10px;
}
.title {
    background-color: red;
    font-size: 35px;
    color: white;
    width: 25%;
    margin: auto;
    overflow: hidden;
    opacity: .70;
}

.time {
    background-color: orangered;
    width: 25%;
    margin: auto;
    margin-top: 20px;
    opacity: .70;
    }

.schedule {
    background-color: yellowgreen;
    padding: 20px;
    opacity: .80;
}

.addtrain {
    background-color: yellowgreen;
    opacity: .50;
}

caption {
    color: white;
    background-color: green;
    font-size: 20px;
    border-bottom: 2px solid black;
}

th {
    background-color: yellowgreen;
}

tr:nth-child(even){
    background-color: darkorange;
}

tr:nth-child(odd){
    background-color: orange;
}

tr:hover {
    /* could not get opacity 1 to work here, read for an hour + and gave up */
    background: rgb(255, 255, 255, 1);
}

table {
    width: 100%;
    border: 1px solid black;
}

form {
    text-align: left;
    padding: 1.5%;
}
form input{
    width: 100%;
    background-color: greenyellow;
}

button {
    margin-top: 20px;
}

@media screen and (max-width: 640px) {
    .title, .time {
        width: 90%;
    }
}